html {
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    background-color:#00539F;
}
h1{
    margin:0;
    padding:20px 0;
    color:rgb(90, 113, 230);
    text-shadow: 3px 3px 1px #112260;
    font-size: 70px;
    text-align: center;
}
p, li {
    font-size: 16px;
    line-height:2;
    letter-spacing:1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff7e14;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
figure {
    text-align: center;
    display: table;
    max-width: auto; /* demo; set some amount (px or %) if you can */
    margin: 10px auto; /* not needed unless you want centered */
}